.banner__imagen{
    background: url("/img/banner/Header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 2.5rem;
}
@media screen and (min-width:0) {
    .banner__imagen{
        height: calc(100vh - 151px);
    }
}
@media screen and (min-width:768px) {
    .banner__imagen{
        height: calc(100vh - 222px);
    }
}